<div class="container">
	<div class="d-flex justify-content-between align-items-center mt-5 mt-5 mb-4">
		<h4><b><%= params[:file_type]&.capitalize %> Files</b></h4>
		<%= link_to "Add #{params[:file_type]&.capitalize} File", new_document_path(file_type: params[:file_type]), class: "btn btn-primary py-2" %>
	</div>
	<div class="table-responsive-xl">
		<table class="document-table table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">File Name</th>
		      <th scope="col">Created At</th>
		      <th scope="col">Download</th>
		      <th scope="col">User</th>
		    </tr>
		  </thead>
		  <tbody>
				<% @documents.each do |document| %>
			    <tr>
			      <td><%= document.id %></td>
			      <td><%= document&.name || document&.document_file&.filename %></td>
			      <td><%= document.created_at.strftime("%m-%d-%Y") %></td>
			      <td><%= image_tag "download.png", width: "20" %></td>
			      <td><%= document.user.full_name.present? ? document.user.full_name : document.user&.email %>
			    </tr>
			  <% end %>
		  </tbody>
		</table>
	</td>
</div>